

body {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}

.bio {
  display: flex;
  justify-content: center;
  margin: auto;
  padding-left: 30px;
  padding-right: 2px;
  border-radius: 23px;
  background: rgb(177, 19, 19);
  max-width: 1200px;
  padding: 20px;
}

.bio-h2 {
  display: flex;
  justify-content: space-around;
  max-width: auto;
  font-size: 16x;
  color: black;
}
