body {
  display: flex;
  justify-content: center;
}

.container {
  display: flex;
  justify-content: space-around;
  flex-direction: row-reverse;
  flex-wrap:wrap;
  padding: 14px;
  padding-top:39px;
  padding-bottom: 39px;
  margin: 57px auto 57px auto;
  background-color: rgb(68, 123, 190, .99);
  border-radius: 5px;
  max-width: 900px;
}

.card-container {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  flex-wrap: wrap;
  padding-left: 5px;
  padding-right: 5px;
  max-width: 200px;
  height: 280px;
  border-radius: 25px;
  background: linear-gradient(120deg, rgb(223, 31, 45), 50%, rgb(43, 55, 132));
}

.card {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  flex-direction: column;
  padding: 5px;
}


img {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  object-fit: contain;
  max-width: 200px;
  border-radius: 20%;
  margin: auto;
}

h1 {
  display: flex;
  color: rgb(245, 245, 245, .8);
  font-size: 16px;
  flex-wrap: wrap;
  font-family: 'Libre Baskerville', serif;
  font-family: 'Roboto', sans-serif;
}
